nav
{
	background-color: transparent;
	height: 50px;
}

nav ul li
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
	font-family: 微软雅黑;
}

nav ul li a
{
	line-height: 50px;
	text-decoration: none;
	color: #777;
}

#banner
{
	background-color: transparent;
	height: 500px;
}

#banner .inner
{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 150px;
	
}

#banner .inner h1
{
	margin: 0px;
	color: #fff;
	font-family: 微软雅黑;
}

#banner .inner p
{
	margin-bottom: 50px;
	font-family: 微软雅黑;
	color: #fff;
}

#banner .inner button
{
	font-family: 微软雅黑;
	font-size: 20px;
    border-style: none;
    border-color: #3b7d9e;
	background-color: transparent;
	color: #fff;
	padding: 10px 20px;
    margin: 5px;
}
#banner .inner a
{
	text-decoration: none;
	color: #fff;
}

#page-wrapper
{
	background: #444 url(pic01.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.col1
{
	float: left;
	height: 300px;
	width: 200px;
	background-color: #eef1ea;
}

.col1 .col1header
{
	height: 30px;
	background-color: #eef1ea;	
	font-family: 微软雅黑;
}

.col1 .col1header >div
{
	float: center;
}

.col1 .col1header :after
{
	content:"";
	display: block;
	clear: both;
}

.col1 .col1header #face
{
	width: 200px;
	height: 200px;
    text-align: center;
}

.col1 .col1header #face img
{
	width: 100%;	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.col1 .col1header #personal
{
    font-family: 微软雅黑;
	padding: 10px;
}

#section2
{
	text-align: center;
	height: 800px;
	background-color: #1ABC9C;
	color: #fff;
	margin-left: 200px;
	padding: 100px;
}

#card1
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 30px;
	background-color: #E74C3C;
	border: 1px solid white;
}

#card1:hover
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 30px;
	background-color: #C0392B;
	border: 1px solid white;

}

#card2
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 30px;
	background-color: #E67E22;
	border: 1px solid white;
}

#card2:hover
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 30px;
	background-color: #D35400;
	border: 1px solid white;


}

#card3
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 30px;
	background-color: #F1C40F;
	border: 1px solid white;
}

#card3:hover
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 30px;
	background-color: #F39C12;
	border: 1px solid white;


}

#card4
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 30px;
	background-color: #2ECC71;
	border: 1px solid white;
}

#card4:hover
{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 30px;
	background-color: #27AE60;
	border: 1px solid white;

}





















